<h4>Letzte Mindmaps</h4>
@if (cachedAdminMapEntries.length > 0) {
  <ng-container>
    <mat-list>
      @for (cachedMapEntry of cachedAdminMapEntries; track cachedMapEntry) {
        <ng-container>
          @if (cachedMapEntry.cachedAdminMapValue.createdAt) {
            <mat-list-item class="item-startpage">
              <a href="{{ getMapUrl(cachedMapEntry) }}">{{
                getMapTitle(cachedMapEntry)
                }}
                vom
                {{ cachedMapEntry.cachedAdminMapValue.createdAt | date : 'dd.MM.yyyy' }}
                um
                {{ cachedMapEntry.cachedAdminMapValue.createdAt | date : 'HH:mm' }}
                Uhr
              </a>
            </mat-list-item>
          }
        </ng-container>
      }
    </mat-list>
  </ng-container>
} @else {
  <ng-template>
    <mat-list>
      -
    </mat-list>
  </ng-template>
}